img {
	border: none;
}

a:link, a:visited {
	color: #b0ad91;
	font-size: 20px;
	text-decoration: none;
	letter-spacing: 0.08em;
}

a:hover {
	color: gray;
}

p a[rel=lightbox]:after {
	content: ' [img]';
	font-size: 13px;
	color: #bcb577;
	letter-spacing: 0.2em;
}

#loading {
	box-shadow: none;
}

html {
	background: url(img/grid.png);
}

html, body {
	margin: 0;
	padding: 0;
	/*height: 100%;*/
}

body {
	font-family: 'Bilbo Swash Caps', cursive;
	position: relative; /* sur le body permet de couvrir tout un div dessus au
						lieu de s'arreter à la partie visible. */
}

h1 {
	margin-top: 0;
	color: #90bcb6;
}

#wrap {
	width: 520px;
	background: #2a3735;
	background: url(img/low_contrast_linen.png);
	padding: 20px;
	margin: 0 auto;
	box-shadow: inset 0 0 6px 0 rgba(0,0,0,.8);
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 10px;
	text-align: center;
}

#wrap a {
	position: relative;
	display: block;
}

#sdotOver {
	background: white;
	/*background: rgba(255,255,255,0.78);*/
	color: black;
	/*z-index: 102;*/
	position: absolute;
	width: 200px;
	border-radius: 4px;
	cursor: none;
	margin-left: 25px;
	top: 40%;
	font-family: sans-serif;
	font-size: 14px;
	padding: 6px 0;
}

#wrap img {
	border-radius: 2px;
	box-shadow: 0 8px 8px -3px rgba(0,0,0,0.2);
	margin-bottom: 20px;
	/*-webkit-transition: all 0.5s;*/
}

#wrap img:hover {
	opacity: 0.3;
	-webkit-transform: scale(0.9);
}

.wrapper {
	background: black;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
}

.wrapper img {
	/*-webkit-transition: none;*/
	position: relative;
	border-radius: 2px;
	box-shadow: 0 0 6px 10px rgba(0,0,0,0.2);
}

.img-title {
	color: black;
	font-size: 20px;
	background: white;
	background: rgba(255,255,255,0.7);
	z-index: 101;
	position: absolute;
	padding: 6px 12px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#zoom {
	height: 22px;
	width: 22px;
	background: url(img/zoom.png) top left;
	border-radius: 0;
	float: right;
}

#zoom:hover {
	background-position: left -23px;
}

.nav-bar {
	position: absolute;
	height: 24px;
	text-align: center;
	opacity: .7;
	background: white;
	left:0;
}

.nav-bar span {
	line-height: 24px;
	margin:0;
	padding:0;
}

#left-arrow, #right-arrow {
	background: url(img/prev_next.png);
	width: 44px;
	height: 20px;
	float: left;
}

#left-arrow {
	background-position: left top;
	margin-right: 20px;
}

#left-arrow:hover {
	background-position: left 20px;
}

#right-arrow {
	background-position: right top;
}

#right-arrow:hover {
	background-position: right 20px;
}

.lcol {
	float: left;
	width: 250px;
}

.rcol {
	float: right;
	width: 250px;
}

.fork-me-github {
	background: url(img/github-ribbon.png);
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	right: 0;
}

.fork-me-github a {
	display: block;
	height: inherit;
	width: inherit;
}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; } /*for ie < 8 trigger haslayout (put it in !-- [if lt IE 8] ![endif]--) */






